
    <ion-pane ng-controller="CardsCtrl">
      <td-cards>
        <td-card ng-repeat="card in cards"
on-transition-left="transitionLeft(card)"
on-transition-right="transitionRight(card)"
on-transition-out="transitionOut(card)"
on-destroy="cardDestroyed(card)"
on-swipe-left="cardSwipedLeft(card)"
on-swipe-right="cardSwipedRight(card)"
on-partial-swipe="cardPartialSwipe(amt)" on-dragend="dragged($index)" class="card-{{$index}}">
          <div class="image"  ng-controller="CardCtrl">
            <div class="no-text" ng-click="nope(card)">NOPE</div>
            <img ng-src="{{card.image}}">
            <div class="yes-text" ng-click="like(card)">LIKE</div>
          </div>
        </td-card>
      </td-cards>
    </ion-pane>